# Configurations
.env
alpha.json
config.json


# Project Files
session.pkl
pnl_chart.png
simulations/
system_prompts/
operators/


# Python
__pycache__/
.venv/


# ACE API (WorldQuant BRAIN Platform)
ace_lib.py
helpful_functions.py
how_to_use.ipynb
ace.log